@{
    ViewData["Title"] = "Home Page";
}
<style>
    .fontcls {
        color: yellow;
        font-size: 20px;
        background-color: red;
    }
</style>
<form action="/Home/About" method="post">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">


        @{
            <br />
            <span style="font-size:21px">欢迎：<span style="font-size:21px;font-weight:600">@ViewData["Session"]</span></span>;

            <br />
            <br />
            for (int i = 1; i <= 3; i++)
            {
                <span class="fontcls">@ViewData["Label" + i]</span>
                <br />
                <br />
            }
            <br />
        }
        <br />
        <input type="text" id="TxtSalary" name="Salary" value="" />
        <br />
        <br />
        <input type="submit" name="BtnSave" value="设置Session" />
        <br />
    </div>
</form>